.wc-address-autocomplete-dropdown.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;

  >li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  >li>div {
    display: block;
    padding: 8px 15px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
  }

  >li>div:hover,
  >li>div:focus,
  >li>div.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    border: none;
  }

  .ui-helper-hidden-accessible {
    display: none;
  }

  .ui-state-active {
    background: #f7f7f7;
  }
}